/*
#036473 color principal
#1A0701 oscuros
#F2FDFF claros fondos
#F2C680 footer
#734703 color complementario

selector {
    propiedad: valor;
}*/

* {
    box-sizing: border-box;
}
 body {
    background-color: #F2FDFF;
 }  
header{
    background-color: white;
}
 nav{
    background-color: white;
 }
 footer{
    background-color: #F2C680;
 }