/*
#036473 color principal
#1F010F oscuros
#E6F5F7 claros fondos
#C7BD6B footer
#998804 color complementario

selector {
    propiedad: valor;
}*/

* {
    box-sizing: border-box;
}
 body {
    background-color: #E6F5F7;
 }  
header{
    background-color: white;
}
 nav{
    background-color: white;
 }
 footer{
    background-color: #C7BD6B;
 }