/*
#036473 color principal
#1A0701 oscuros
#F2FDFF claros fondos
#F2C680 footer
#734703 color complementario

selector {
    propiedad: valor;
}*/

*{
    box-sizing: border-box;
    color: #1A0701;
}
 body {
   margin: 1px;
   display: grid;
   background-color: #F2FDFF;
   grid-template-columns: 3fr 1fr;
   grid-template-rows: auto auto 1fr auto;
   grid-template-areas: 
   "header header"
   "nav nav"
   "main aside"
   "footer footer";
   min-height: 100vh;
 }  
header{
   color: #036473;
   grid-area: header;
   display: flex;
   align-items: center;
   GAP: 20PX;
   padding: 20px;
   background-color: white;
}
header img{
   width: 100px;
   height: auto;
}
nav{
   grid-area: nav;
   padding: 10px;
   display: flex;
   background-color: white;
 }
 nav a{
   display: flex;
   margin: 10px;
   padding: 10px;
   list-style: none;
   text-decoration: none;
   background-color: #036473;
   color: white;
   justify-content: center;
   gap: 20px;
   font-weight: bold;
   border-radius: 5px;
 }
 main{
   grid-area: main;
 }
 section{
   grid-area: section;
   background-color: white;
 }
 article{
   background-color: #F2FDFF;
 }
 aside {
   grid-area: aside;
   color: white;
   background-color: #734703;
   
 }
 footer{
   grid-area: footer;
    background-color: #F2C680;
 }